@model IEnumerable<Domain.Petisco.Petisco>

@{
    ViewBag.Title = "Petiscos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Petiscos</h2>

<br/>

<h4> @Html.ActionLink("Criar Novo", "Create") </h4>

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>